 
<script type="text/javascript">
function showAlertModel(title,content, confirmAction){
	$("#alert-modal-content").empty();
	$("#alertModalLabel").text(title);
	$("#alert-modal-content").text(content);
	if(confirmAction !=null && confirmAction!=""){
	$("#alert-modal-comfirm").unbind();
		$("#alert-modal-comfirm").bind("click", function(e){
			e.preventDefault();
			$.ajax({  
				type: "POST",  
				url:confirmAction,  
				//data: "id=" + id,
				async: true,  
				error: function(request) {  
					//showInfo("删除失败！",null);
					window.location.reload();
				},  
				success: function(data) {  
					//showInfo("删除成功！",null);
					window.location.reload();
				}  
			});
		});

		$("#alert-model-cancel").show();

		$("#alert-modal-comfirm").removeAttr("data-dismiss");	
	}else{
		
		$("#alert-model-cancel").hide();
		$("#alert-modal-comfirm").attr("data-dismiss","modal");
		$("#alert-modal-comfirm").removeAttr("href");
	}
	$("#alertModal").modal('toggle');
}

function showInfo(content, returnUrl){
	$("#alert-modal-content").empty();
	$("#alertModalLabel").text('消息');
	$("#alert-modal-content").text(content);
	$("#alert-model-cancel").hide();

	if(returnUrl != null && returnUrl !=""){
		 
		$("#alert-modal-comfirm").attr("data-dismiss","modal");		 
		$("#alert-modal-comfirm").on("click", function(e){
			e.preventDefault();
			window.location.href = returnUrl;
		}
		);
	 
	}else{
		$("#alert-modal-comfirm").attr("data-dismiss","modal");
		$("#alert-modal-comfirm").removeAttr("href");
	}
	$("#alertModal").modal('toggle');
}

</script>

<div class="modal" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="alertModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
		  
			<div class="modal-header">
				<h4 class="modal-title" id="alertModalLabel"></h4>
			</div>
			
			<div class="modal-body">
				<p id="alert-modal-content"></p>
			</div>
			<div class="modal-footer">
				<a href="javascript:void(0);" id="alert-model-cancel" class="btn btn-default" data-dismiss="modal">取消</a>
				<a href="javascript:void(0);" id="alert-modal-comfirm" class="btn btn-primary">确定</a>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->  