<div class="row">
	<div class="col-md-12">					
		<!-- Begin: 修改密码 -->
		<div class="portlet light">
			<div class="portlet-title">
				<div class="caption">
					<span class="caption-subject font-green-sharp bold uppercase">修改密码</span>
					<span class="caption-helper hide"></span>
				</div>							
			</div>
			<div class="portlet-body form">
				<!-- BEGIN FORM-->
				<form action="javascript:;" class="form-horizontal" name="form1" id="form1">
					<div class="form-body">											   
						<div class="form-group">
							<label class="col-md-3 control-label"><span
								style="color: red">*</span>旧密码：</label>
							<div class="col-md-4" style="color: red">
								<input type="password" class="form-control" placeholder="请输入旧密码" name="oldPassword" id="oldPassword">
								<span class="help-block hide"></span>
							</div>
						</div>											
						<div class="form-group">
							<label class="col-md-3 control-label"><span
								style="color: red">*</span>新密码：</label>
							<div class="col-md-4" style="color: red">
								<input type="password" class="form-control" placeholder="请输入新密码" name="newPassword" id="newPassword">
								<span class="help-block hide"></span>
							</div>
						</div>
						<div class="form-group last">
							<label class="col-md-3 control-label"><span
								style="color: red">*</span>确认新密码：</label>
							<div class="col-md-4" style="color: red">
								<input type="password" class="form-control" placeholder="请确认新密码" name="confirmPassword" id="confirmPassword">
								<span class="help-block fttred" style="color: red" id="confirmPasswordInfo"></span>
							</div>
						</div>
					</div>
					<input type="hidden" name="id" value="$operator.id" id="operator_id">
					<div class="form-actions">
						<div class="row">
							<div class="col-md-offset-3 col-md-9">																											
								<button type="button" onclick="allreset()" class="btn default"><i class="fa fa-close"></i> 重置</button>														
								<button type="submit" class="btn btn-primary" id="submit_btn" onclick="updatePassword()"><i class="fa fa fa-check"></i> 提交</button>														
							</div>
						</div>
					</div>
				</form>
				<!-- END FORM-->
			</div>								
		</div>
		<!-- End: 修改密码 -->
	</div>
</div>
<!-- END PAGE CONTENT-->
<script type="text/javascript" src="#getJsPath('operator.js')"></script>


